:root {
  // colors
  @for $i from 0 through 5 {
    --color-red-#{$i}:    #{darken(#ff3b21, 10% * $i)};
    --color-orange-#{$i}: #{darken(#ff9f21, 10% * $i)};
    --color-yellow-#{$i}: #{darken(#ffd621, 10% * $i)};
    --color-green-#{$i}:  #{darken(#21ff3b, 10% * $i)};
    --color-cyan-#{$i}:   #{darken(#21daff, 10% * $i)};
    --color-blue-#{$i}:   #{darken(#213fff, 10% * $i)};
    --color-purple-#{$i}: #{darken(#ae21ff, 10% * $i)};
    --color-pink-#{$i}:   #{darken(#ff21b1, 10% * $i)};
  }
}

// fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;700;900&display=swap');

body {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  color: #fff;
  background: var(--color-blue-4);
  overflow-x: hidden;
}

.maintext {
  color: var(--color-blue-0);
  font-weight: bold;
  text-shadow: 0 0 8px var(--color-blue-5)
}

#top {
  width: 100%;
  height: 64px;
  position: fixed;
  background: var(--color-blue-2);
  font-size: 48px;
  text-align: center;
  
  .alpha {
    background: var(--color-yellow-1);
    padding: 4px;
    font-size: 40px;
    font-weight: 800;
    border-radius: 16px;
  }
}

#content {
  --current-content: 1;
  
  position: absolute;
  height: calc(100% - 64px);
  top: 64px;
  left: calc(-100vw * (var(--current-content) - 1));
  transition: left 1.5s cubic-bezier(0.3, 0, 0.4, 1.15);
  display: flex;

  & > div {
    width: 100vw;
    height: 100%;
    text-align: center;
    position: relative;

    & > .locked {
      width: 100%;
      height: 100%;
      backdrop-filter: blur(8px) brightness(0.7);
      display: flex;
      align-items: center;
      justify-content: center;

      & > img {
        width: 20vh;
        height: 20vh;
      }
    }
  }
}

.content7 {
  display: flex;
  flex-direction: column;
}

.achrow {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  gap: 2vw;

  & > .achievement {
    width: 10vw;
    height: 10vw;
    background: var(--secondary-color);
    border: 3px solid var(--primary-color);
    border-radius: 2vw;

    --primary-color: var(--color-blue-0);
    --secondary-color: var(--color-blue-3);
    --tertiary-color: var(--color-blue-5);

    .symbol {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 5vw;
      font-weight: 600;
      overflow: hidden;
      color: var(--primary-color)
    }
    
    &:not(.show) {
      display: none;
    }

    &.unlocked {
      background: var(--primary-color);

      .symbol {
        color: var(--tertiary-color);
      }

      & > .tooltip b {
        color: var(--primary-color)
      }
    }
  }
}

.tooltip {
  opacity: 0;
  transition: all 0.5s;
  pointer-events: none;
  user-select: none;
  background: #000d;
  backdrop-filter: blur(8px);
  padding: 2px;
  border-radius: 8px;
  max-width: 12vw;
  margin-top: -10%;
}

:not(:root):hover > .tooltip {
  opacity: 1;
  margin-top: -20%
}